[
  { rabbit, [
      { tcp_listeners, [ ] },
      { num_tcp_acceptors, 5 },
      { ssl_listeners, [ 5671 ] },
      { num_ssl_acceptors, 10 },
      { ssl_options,  [
        { certfile,   "CERTFILE" },
        { keyfile,    "KEYFILE" },
        { cacertfile, "CAFILE" },
        { versions, ['tlsv1.2'] },
        { ciphers,  [{rsa,aes_256_cbc,sha256}] },
        { verify,   verify_none },
        { fail_if_no_peer_cert, false } ] },
      { loopback_users, [] },
      { collect_statistics, coarse },
      { collect_statistics_interval, 10000 },
      { cluster_partition_handling, pause_minority },
      { log_levels, [{connection, error}, {channel, error}, {mirroring, error}] }
    ]
  },
  { rabbitmq_management, [
        { listener, [
            { port, 15672 },
            { ssl, false }
          ]
        },
        {load_definitions, "/rabbitmq/etc/rabbitmq/rabbitmq_definitions.json"}
    ]
  },
  { rabbitmq_clusterer,
      [{config, "/rabbitmq/etc/rabbitmq/cluster.config"}]
  }
].
